@tailwind base;
@tailwind components;
@tailwind utilities;

.login-page {
  margin: calc((100vh - 402px) / 2) auto;
}
.signup-page {
  margin: calc((100vh - 602px) / 2) auto;
}
.bg-accent-gray {
  background-color: rgba(0, 0, 0, 0.2);
}
.add input,
.minus input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
